<nav class="fixed top-0 left-0 w-full bg-black px-6 py-4">

    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <!-- Logo -->
        
        <div class="text-red-100 text-3xl font-bold"><a href=index.html>AMS Prefab</a></div>

        <!-- Desktop Menu -->
        <div class="hidden md:flex space-x-20">
            <a href="index.html" class="text-white hover:text-gray-300">Home</a>
            <a href="#" class="text-white hover:text-gray-300">Products</a>
            <a href="#" class="text-white hover:text-gray-300">Designs  </a>
            <a href="#" class="text-white hover:text-gray-300">Benefits/Comparison</a>
            <a href="#" class="text-white hover:text-gray-300">Download Catalog</a>
            <a href="contact.html" class="text-white hover:text-gray-300">Contact Us</a>

        </div>

        <!-- Mobile Menu Button -->
        <button id="menuBtn" class="md:hidden text-white text-2xl">☰</button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobileMenu" class="hidden md:hidden flex flex-col bg-black bg-opacity-70 backdrop-blur-md p-4 mt-4">
        <a href="#" class="text-white py-2">Home</a>
        <a href="#" class="text-white py-2">Products</a>
        <a href="#" class="text-white py-2">Technology</a>
        <a href="#" class="text-white py-2">Benefits/Comparison</a>
        <a href="#" class="text-white py-2">Download Catalog</a>
        <a href="#" class="text-white py-2">Contact Us</a>

    </div>
</nav>